<ul>
    <!--
    <li>
        <a href='/coins' style='cursor:pointer;'>Manage Coins</a>
    </li>
    <li>
        <%=link_to('Manage Coins','/coins')%>
    </li>
    //-->
    <li>
        <%=link_to('Manage Coins',coins_path)%>
    </li>
</ul>