<h1>Welcome... <%=nome_aplicacao%></h1>
<ul>
    <!--
    <li>
        <a href='/coins' style='cursor:pointer;'>Manage Coins</a>
    </li>
    <li>
        <%=link_to('Manage Coins','/coins')%>
    </li>
    //-->
    <li>
        <%=link_to('Manage Coins',coins_path)%>
    </li>
</ul>

<hr>
 <p><%=data_br(Date.today)%>... and I'm just studying!</p>
<hr>


